<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Forensic!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">

    <%= render "header.html", conn: @conn %>

    <main role="main">
      <div class="ui container">

      <%= if get_flash(@conn, :error) do %>
        <div class="ui red message"><%= get_flash(@conn, :error) %></div>
      <% end %>
      <%= if get_flash(@conn, :info) do %>
        <div class="ui positive message"><%= get_flash(@conn, :info) %>
          <i class="close icon"></i>
        </div>
      <% end %>
      <%= if get_flash(@conn, :warning) do %>
        <div class="ui yellow message"><%= get_flash(@conn, :warning) %></div>
      <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
