<div class="ui menu">
  <div class="ui container">
    <%= link("FORENSIC", to: page_path(@conn, :index), class: "header item") %>
    <%= link("Jobs", to: "/jobs", class: "item") %>
    <div class="right menu">
      <div class="item">
        <div class="ui action left icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search">
          <button class="ui button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
